/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
  -o-transition-duration: 0.22s;
  transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    -o-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

[class*="col-"] {
  float: left;
  min-height: 1px; }

.row:after, .row:before {
  display: table;
  content: "";
  clear: both; }

.col-12 {
  width: 100%; }

img {
  max-width: 100%; }

button:focus, input:focus, textarea:focus {
  outline: 0; }

a {
  color: inherit;
  text-decoration: none; }

.section__header {
  font-size: 1.5em;
  color: #3b434c;
  font-weight: 400; }
  .section__header span {
    color: #f7600e; }

.section__paragraph {
  font-size: 0.8em;
  color: #3b434c;
  line-height: 30px;
  max-width: 455px;
  margin: 0 auto; }

.background {
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }

.main-header {
  background-image: url("../images/background.png");
  min-height: 600px;
  height: 100vh; }

.main-header__container {
  position: relative;
  min-height: 600px;
  height: 100vh; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }

.main-header__scicky-nav {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
  z-index: 50;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.main-header__scicky-nav--is-active {
  background-color: black; }

.main-header__logo {
  position: fixed;
  top: 30px;
  left: 15px;
  z-index: 100; }
  .main-header__logo img {
    width: 140px; }

.main-header__hidden-menu {
  position: fixed;
  height: 100%;
  width: 300px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 150; }

.main-header__navigation {
  position: relative;
  list-style-type: none;
  color: white;
  padding: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .main-header__navigation .navigation__item {
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px; }
    .main-header__navigation .navigation__item a {
      display: block;
      padding: 10px; }
      .main-header__navigation .navigation__item a:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black; }

.main-header__hidden-menu--is-active {
  background-color: black;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

.main-header__menu-btn {
  position: fixed;
  padding: 0;
  right: 10px;
  top: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  z-index: 200; }
  .main-header__menu-btn span {
    margin: 0 6px;
    font-size: 0.65em; }

.main-header__menu-btn:focus {
  outline: 0; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 29px;
  height: 2px; }

.main-header__text-container {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  color: white; }
  .main-header__text-container span {
    color: #f7600e; }

.main-header__header {
  font-size: 1.2em;
  margin: 0; }

.main-header__paragraph {
  font-size: 0.65em;
  line-height: 24px;
  font-weight: 300;
  max-width: 550px; }

.main-header__button-container {
  margin-top: 30px; }
  .main-header__button-container button {
    font-size: 0.55em;
    width: 160px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    color: white;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
    .main-header__button-container button:hover {
      background-color: #f7600e;
      border: none; }

.main-header__scroll-down {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.section-features {
  padding: 80px 0; }

.section-features__feature-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  color: #3b434c; }

.feature-item__header {
  font-size: 0.7em;
  margin: 25px 0 15px 0; }

.feature-item__paragraph {
  font-size: 0.7em;
  margin: 0 0 10px 0;
  line-height: 26px; }

.section-subscription {
  background-image: url(../images/subscription-background.png);
  min-height: 250px; }

.section-subscription__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.subscription__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .subscription__form input {
    width: 240px;
    height: 40px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    font-size: 0.65em;
    padding: 0 12px; }
    .subscription__form input:last-child {
      background-color: #f7600e;
      color: white;
      margin-top: 15px; }

.section-our-works {
  padding: 60px 0 120px 0;
  text-align: center;
  position: relative; }
  .section-our-works img {
    max-width: 100%;
    margin-top: 20px;
    display: block; }

.section-our-works__paragraph, .section-our-team__paragraph {
  margin-bottom: 60px; }

.section-our-works__content-container {
  position: relative;
  width: 100%;
  max-width: 360px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.section-our-works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #f7600e;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .section-our-works__overlay:hover {
    opacity: 0.9; }

.overlay__header {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 15px 0; }

.overlay__paragraph {
  font-size: 0.7em;
  line-height: 25px;
  padding: 0 30px;
  margin: 0; }

.overlay__button {
  font-size: 0.7em;
  margin-top: 30px;
  width: 170px;
  height: 40px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #f7600e;
  cursor: pointer; }

.section-our-works__show-more {
  font-size: 0.6em;
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.section-testimonials {
  background-image: url(../images/testimonials-background.png);
  min-height: 400px;
  color: white;
  text-align: center; }
  .section-testimonials [class*="fa-"] {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2em;
    color: grey;
    cursor: pointer;
    padding: 10px;
    -webkit-box-sizing: initial;
    box-sizing: initial; }
  .section-testimonials .fa-chevron-left {
    left: 10px; }
  .section-testimonials .fa-chevron-right {
    right: 10px; }

.section-testimonials__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 400px;
  position: relative; }

.section-testimonials__slide {
  display: none; }

.section-testimonials__slide--is-active {
  display: block; }

.section-testimonials__quote {
  font-style: italic;
  font-size: 0.7em;
  margin-top: 40px;
  line-height: 30px;
  max-width: 650px;
  padding: 0 35px; }

.section-testimonials__author {
  font-size: 0.65em; }

.section-our-team {
  padding: 60px 0 100px 0;
  text-align: center;
  color: #3b434c; }

.team-member__photo {
  width: 236px;
  height: 285px; }

.section-our-team__column {
  margin-top: 80px; }

.section-our-team__team-member {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 40px; }
  .section-our-team__team-member:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.team-member__header {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px; }

.team-member__paragraph {
  font-size: 0.65em;
  max-width: 230px;
  margin: 20px auto 0 auto;
  line-height: 25px; }

.our-team__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .our-team__media a {
    color: inherit;
    font-size: 0.65em;
    display: block;
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.media__item {
  margin: 0 10px;
  color: white;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

.media__fb {
  background-color: #205b9f; }

.media__tw {
  background-color: #00ace3; }

.media__gplus {
  background-color: #ff3921; }

.media__dribbble {
  background-color: #ff72a5; }

.media__behance {
  background-color: #009bd5; }

.section-contact {
  min-height: 600px;
  padding: 60px 0 100px 0;
  text-align: center;
  background-image: url(../images/contact-background.png); }

.contact-form__input {
  font-size: 0.7em;
  width: 100%;
  height: 40px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 15px;
  border: none;
  margin-top: 30px; }

.contact-form__textarea {
  font-size: 0.7em;
  width: 100%;
  display: block;
  margin: 25px auto 0 auto;
  padding: 10px 15px;
  resize: none;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.contact-form__button {
  font-size: 0.6em;
  background-color: #f7600e;
  width: 210px;
  height: 40px;
  margin-top: 30px;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer; }

.contact__header, .contact__paragraph {
  color: white; }

.contact__paragraph {
  margin-bottom: 40px; }

.contact-media {
  margin-top: 30px; }
  .contact-media div {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    margin: 0 13px; }

footer {
  font-size: 0.6em;
  height: 100px;
  background-color: #3b434c;
  color: white; }
  footer div {
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

@media only screen and (min-width: 320px) {
  .main-header__header {
    font-size: 1.4em; }
  .main-header__button-container button {
    width: 180px;
    height: 40px; }
  .feature-item__header {
    font-size: 0.8em; }
  .feature-item__paragraph {
    font-size: 0.8em; } }

@media only screen and (min-width: 480px) {
  .main-header__logo img {
    width: 160px; }
  .main-header__text-container {
    top: 50%; }
  .main-header__header {
    font-size: 1.6em; }
  .main-header__paragraph {
    font-size: 0.8em; }
  .subscription__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .subscription__form input {
      margin: 0 10px;
      width: 340px;
      height: 35px; }
      .subscription__form input:last-child {
        width: 40%;
        margin-top: 0; } }

@media only screen and (min-width: 768px) {
  .col-6 {
    width: 50%; }
  .main-header__header {
    font-size: 2em; }
  .main-header__paragraph {
    font-size: 0.9em; }
  .main-header__button-container button {
    width: 210px;
    height: 40px; }
  .feature-item__paragraph {
    font-size: 0.8em;
    max-width: 300px; }
  .subscription__form input {
    width: 550px;
    height: 40px;
    margin: 0 14px; }
  .section-our-works__content-container {
    max-width: 320px; }
  .section-testimonials__quote {
    font-size: 0.9em; }
  .contact-form {
    max-width: 700px;
    height: 340px; }
  .contact-form__input {
    width: 45%;
    margin: 30px 8px 0 8px; }
  .contact-form__textarea {
    width: 93%; }
  .contact__form-container {
    position: relative;
    max-width: 700px;
    margin: 0 auto; }
  .contact-form__button {
    position: absolute;
    width: 160px;
    bottom: 0;
    left: 21.5px; }
  .contact-media {
    position: absolute;
    bottom: 7px;
    right: 15px; } }

@media only screen and (min-width: 992px) {
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .main-header {
    min-height: 700px; }
  .main-header__container {
    min-height: 700px; }
  .main-header__header {
    font-size: 2.5em; }
  .feature-item__paragraph {
    font-size: 0.7em;
    max-width: 220px; }
  .section-our-works__content-container {
    max-width: 280px; }
  .main-header__button-container button {
    height: 50px; } }

@media only screen and (min-width: 1200px) {
  .main-header__header {
    font-size: 3em; }
  .section-our-works__content-container {
    max-width: 340px; } }
